h1 {
    border-style: solid;
    border-color: rgb(215, 184, 137);
    padding-bottom: 30px;
    background-color: floralwhite;

}
body {
    background-color:beige;
}
.nav-link {
    font-size: 20px;
    text-decoration: none;
    color: rgb(84, 68, 48);
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
    background: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.nav-link:hover {
    color: rgb(218, 199, 175);
    border-bottom: 2px solid rgb(218, 199, 175);
}

.nav-link:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
}
footer {
    position: fixed;
    
}
.create-row {
    display: flex;
    justify-content: space-evenly;
    gap: 20px
}
.zakat-bruh {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    /*important! default for flexbox is horizontal!*/
    /* justify-content: center; */
}
#live-update-text {
    margin-top: 20px;
    margin-bottom: 50px; 
    border-style: solid; 
    border-color: chocolate;
    background-color: chocolate;
}
h3 {
    margin-bottom: 10px;
    color:rgb(160, 131, 93);
}
h2 {
    color:rgb(160, 131, 93);
    margin-bottom: 15px;
}
p {
    margin: 5px;
}
a {
    font-size: 20px;
    text-decoration: none;
    /*Didn't like the traditional underline touch*/padding: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color all 0.3s ease;
}
a:link {
    color:rgb(84, 68, 48);
}
a:visited {
    color:rgb(79, 45, 2);
}
a:hover {
    color:rgb(218, 199, 175);
}
a:active {
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.3);
}
#Sign-Up{
    display: flex;
    justify-content:center;
}
.beauty {
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    justify-content: space-evenly;
    color:black;
    border-style: solid;
    background-color: black;
}
/* Default dark mode style */
.dark-mode {
    background-color: black;
    color:cornsilk;

}

/* Example: Different dark mode style for h1 */
.dark-mode h1 {
    
}

/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}
/* Add style to button */
#theme-button {

}


/* Customize Dark Mode Theme */
.dark-mode {


}
/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form
**/

.rsvp-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    padding-bottom: 50px;
}
.rsvp-para {
    width: 55%;
    padding-right: 10px;
}
.rsvp-participants {
    width: 45%;
    padding-right: 10px;
}
form {
    margin: 10px 20px 0px 0px;
}
#rsvp-form{
    
}
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: palevioletred;
  /* Set border-color and background */
}

